name: CI - Build & Deploy (Direct)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    labels: [jump, k8s, amazon-linux]

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify runner identity
        run: |
          hostname
          whoami
          kubectl get nodes

      - name: Make script executable
        run: chmod +x ./build-and-push.sh

      - name: Build and push Docker images
        run: ./build-and-push.sh

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/frontend
          kubectl rollout status deployment/backend
